*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,500&display=swap');
.initial-body{
    background-color: rgb(242, 140, 21) ;
    color: white;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 75vh;
}
h1{
    font-family: 'Roboto', sans-serif;
}
.img-responsive{
    margin-left: 21px;
    width: 35%;
    height: auto;
}

@media only screen and (max-width: 1024px) and (min-width: 200px) { 
    .initial-body{
       justify-content: center;
       height: 50vh;
    }

}